# Grafana Datasource Provisioning
# Auto-configures Prometheus as datasource on Grafana startup

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus-thc
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
      incrementalQuerying: true
      incrementalQueryOverlapWindow: 10m
    version: 1
